<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482601678376-crn890r761jsu78dp8gc4ktitot7hbes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482601678376-crn890r761jsu78dp8gc4ktitot7hbes</string>
	<key>API_KEY</key>
	<string>AIzaSyDaHR8pe9qY7cYMBG0Ah_5cGAbEBO1LQdA</string>
	<key>GCM_SENDER_ID</key>
	<string>482601678376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comma.darleyexpress</string>
	<key>PROJECT_ID</key>
	<string>darleycomma</string>
	<key>STORAGE_BUCKET</key>
	<string>darleycomma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482601678376:ios:24603a6fac440ef27c271d</string>
</dict>
</plist>